<with-slots>
  <parent>
    <with-jss-and-loops name="header"/>
  </parent>
  <script>
    import WithJssAndLoops from './with-jss-and-loops.riot'
    export default {
      components: {
        WithJssAndLoops
      },
    }
  </script>
</with-slots>